.customer__container {
  background-color: white;
  height: fit-content;
  width: 100%;
  padding: 1rem;
  max-width: 900px;
  table {
    width: 100%;
    tr {
      th {
        color: var(--grey);
        font-weight: 400;
        padding: 1rem 1rem 2rem 0;
      }
      td {
        padding: 1rem 1rem 1rem 0;
      }
    }
  }
}

.members {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
  span {
    color: var(--green);
    line-height: 3rem;
    text-transform: capitalize;
  }
  div {
    display: flex;
    align-items: center;
    gap: 1rem;
    input {
      padding: 0.5rem;
    }
    label {
      color: var(--grey);
      background-color: whitesmoke;
      padding: 0.5rem;
      border-radius: 0.3rem;
      select {
        border: none;
        background-color: transparent;
      }
    }
  }
}
button {
  padding: 0.5rem 0;
  width: 6rem;
  border-radius: 0.5rem;
  font-size: 1rem;
}
.inactive {
  color: red;
  border: 1px solid red;
  background-color: var(--buttonpink);
}
.activeb {
  border: 1px solid var(--green);
  color: var(--textgreen);
  background-color: var(--lightgreen);
}
