.search__container1 {
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;

  gap: 0.5rem;

  svg {
  }
  input {
    border: none;

    width: 50%;

    background-color: transparent;
  }
}
