:root {
  --cream: #f6f6f6;
  --grey: #1a071066;
  --purple: #5932ea;
  --darkGray: #1a0710d9;
  --lightgray: #1a071066;
  --graishBlue: #9197b3;
  --pink: #eaabf0;
  --buttonpink: #ffc5c5;
  --textgreen: #008767;
  --lightgreen: #16c09861;
  --green: #00b087;
  --brigthtgreen: #6bc62d;
  --border-pink: #ef498f47;
  --background-pink: #ef498f24;
}
